[Unit]
Description=Easy SpeedFan Linux automatic fan control
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/easy_speedfan_linux
Restart=on-failure
User=root
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=multi-user.target
